mixin card(title)
  .card(id=title)&attributes(attributes)
    h5.card-header= title
    .card-body

mixin flex()
  .d-flex.flex-row.bd-highlight.mb-3
    .p-2.bd-highlight= +card(title)

//- Add icon
mixin icon(iconName)
  i.material-icons&attributes(attributes)= iconName

//- add icon with drop down
mixin iconDropdown(iconName, ...links)
  .dropdown
    +icon(iconName)(id=iconName data-toggle="dropdown")
    .dropdown-menu
      each link in links
        a.dropdown-item(href="/"+link)= link

mixin iconBtn(iconName, link)
  button.btn.btm-btn-icon
    a(href="/"+link)
      +icon(iconName)

mixin modal(modalName)
  button.btn.btn-primary(type="button" data-toggle="modal" data-target="#"+modalName) launch
  .modal.fade(id=modalName tabindex="-1" role="dialog" aria-labelledby=modalName+"Title" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content
        .modal-header
          h5.modal-title(id=modalName+"Title")= modalName
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          //- +form()
        .modal-footer
          button.btn.btn-primary Submit

//- mixin form(name, ...items)
//-   h2= name
//-   form
//-     each item in items
//-       .form-group
//-         label(for="test") test
//-         input(id=)
//-     .form-group
//-     label(for='addEmail') Email address
//-     input#email-input.form-control(type='email' placeholder='Email')
//-     .form-group
//-     label(for='addPassword') Password
//-     input#password-input.form-control(type='password' placeholder='Password')
//-     button.btn.btn-primary(type='submit') Login
//-   br
//-   p Or sign up
//-     a(href="/") here

mixin list(name, ...items)
  ul
    each item in items
      li= item

mixin tableHeader(cols)
  each col in cols
    th(scope="col")= col

mixin tableRows(rows)
  each row in rows
    th(scope="row")= row
    +tableData(datas)

mixin tableData(datas)
  each data in datas
    td= data

mixin table(name, cols, rows, datas)
  table.table.table-striped.table-borderless(id=name)
    thead
      tr
        +tableHeader(cols)
    tbody
      tr
        +tableRows(rows)
