mixin card(title)
  .card(id= title)&attributes(attributes)
    .card-title= title
      .card-body.overflow-auto

mixin flex()
  .d-flex.flex-row.bd-highlight.mb-3
    .p-2.bd-highlight= +card(title)

//- Add icon
mixin icon(iconName)
  i.material-icons&attributes(attributes)= iconName

//- add icon with drop down
mixin iconDropdown(iconName, ...links)
  .dropdown
    +icon(iconName)(id=iconName data-toggle="dropdown")
    .dropdown-menu
      each link in links
        a.dropdown-item(href="/"+link)= link

mixin iconBtn(iconName, link)
  button.btn.btm-btn-icon
    a(href="/"+link)
      +icon(iconName)

mixin submitBtn()
  button.btn.btn-primary.btn-large.btn-block(type="submit") submit

mixin modal(modalName)
  button.btn.btn-primary(type="button" data-toggle="modal" data-target="#"+modalName) launch
  .modal.fade(id=modalName tabindex="-1" role="dialog" aria-labelledby=modalName+"Title" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content
        .modal-header
          h5.modal-title(id=modalName+"Title")= modalName
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
        .modal-footer
          button.btn.btn-primary Submit

mixin tab(pane)
  .nav.flex-column.nav-pills#v-pills-tab(role="tablist" aria-orientation="vertical")
    - for(var i = 0; i < pane.length; i++)
        a.nav-link(id="v-pills-"+pane[i]+"-tab" data-toggle="pill" href="#v-pills-"+pane[i] role="tab" aria-controls="v-pills-"+pane[i] aria-selected="false")= pane[i]
  .tab-content#v-pill-tabContent
    - for(var i = 0; i < pane.length; i++)
        .tab-pane(id="v-pills"+pane[i] role="tabpanel" aria-labelledby="v-pills-"+pane[i]+"-tab")

mixin form(name, ...items)
  form(id = name)
  each item in items
    .form-group
      label(for= item)= item
      input.form-control(id=item+"-input" type= item)
  +submitBtn()

mixin list(name, ...items)
  ul
    each item in items
      li= item

mixin tableHeader(cols)
  thead
      tr
  each col in cols
    th(scope="col")= col

mixin tableRows(rows)
  each row in rows
    th(scope="row")= row
    +tableData(datas)

mixin tableData(datas)
  each data in datas
    td= data

mixin table(name, cols, rows, datas)
  table.table.table-striped.table-borderless(id=name)
    +tableHeader(cols)
    tbody
      tr
        +tableRows(rows)
